<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>

<button mat-raised-button color="warn">Primary</button>

<router-outlet></router-outlet>
